{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mongo plugin for Craft CMS 3.x
 *
 * Mongo Settings.twig
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2019 Flow Communications
 * @link      www.flowsa.com
 * @package   Mongo
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\mongo\\assetbundles\\mongo\\MongoAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
