{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mongo plugin for Craft CMS
 *
 * MongoWidget Widget Body
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2019 Flow Communications
 * @link      www.flowsa.com
 * @package   Mongo
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsa/mongo/assetbundles/mongowidgetwidget/dist', true) ~ '/img/MongoWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
