{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mongo plugin for Craft CMS
 *
 * MongoWidget Widget Settings
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2019 Flow Communications
 * @link      www.flowsa.com
 * @package   Mongo
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\mongo\\assetbundles\\mongo\\MongoAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
