{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Mongo plugin for Craft CMS
 *
 * MongoUtility Utility Content
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2019 Flow Communications
 * @link      www.flowsa.com
 * @package   Mongo
 * @since     1.0.0
 */
#}

<h1>MongoUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@flowsa/mongo/assetbundles/mongoutilityutility/dist', true) ~ '/img/MongoUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>